#connect_video {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: auto;*/
    height: 25%;
    text-align: center;
}

.video_chat{
    display: inline-block;
    /*width: auto;*/
    height: 100%;
    /*border: 1px solid black;*/
}


#bgvid {

    position: fixed;
    left: 12.5%;
    top: 0;

    min-width: 75%;
    min-height: 75%;

    width: 75%;
    /*height: auto;*/
    height: 75%;
    z-index: -100;

}

#backgroud {
    position: fixed;
    right: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    z-index: -101;

    background: #000000;

    background-size: cover;

}