<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频观影</title>
    <link href="/css/OnlineMovie.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<script type="text/javascript" src="/js/annyang.min.js"></script>
<script>
    if (annyang) {
        // Let's define a command.
        var commands = {
            'hello': function () {
                alert('Hello world!');
            },
            'another room': function () {
                window.location.href = document.referrer;
            },
            'log out': function () {
                window.history.go(-2);
            }

        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening.
        annyang.start();
    }
</script>
<div id="backgroud"></div>

<div id="setup" style="display: none">
    <p>WebRTC 视频观影demo测试</p>
    <p>
        Key:
        <input type="text" name="key" id="key" onkeyup="if (event.keyCode === 13) {connect();return false;}"
               th:value="${roomId}"/>
        <button id="connect" onclick="connect()">连接</button>
        <span id="statusline" style="display:none">状态：
            <span id="status">已断开</span>
        </span>
        <button id="call" style="display:none" onclick="call()">呼叫</button>
    </p>
</div>

<div id="scMessage" style="float:right;display:none">
    <p>信道消息：
        <input type="text" width="100%" name="message" id="message"
               onkeyup="if (event.keyCode === 13){send();return false;}"/>
        <button id="send" style="display:none" onclick="send()">发送</button>
    </p>

    <p>响应：
        <span id="response"></span>
    </p>
</div>

<br/>

<video autoplay id="bgvid" loop controls>
    <source src="http://he.yinyuetai.com/uploads/videos/common/6609014F06AE1C8E99DE142502A2B157.flv" type="video/mp4"/>
    您的浏览器不支持 HTML5 video 标签。
</video>


<div id="connect_video">
    <!--<div>-->
    <video class="video_chat" autoplay="autoplay" id="myVideo" controls muted="true"></video>
    <!--</div>-->
    <!--<p style="display:none">-->
    <!--<b>发出的消息</b>-->
    <!--<br/>-->
    <!--<textarea id="outmessages" style="width:100%" rows="30"></textarea>-->
    <!--</p>-->
    <!--<div>-->
    <video class="video_chat" id="yourVideo" autoplay="autoplay" controls muted="true" style="display: none"></video>
    <!--</div>-->
    <!--<p style="display:none">-->
    <!--<b>收到的消息</b>-->
    <!--<br/>-->
    <!--<textarea id="inmessages" style="width:100%" rows="30"></textarea>-->
    <!--</p>-->
</div>


<!--<script src="https://webrtc.github.io/adapter/adapter.js" type="text/javascript"></script>-->

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/adapter.js"></script>
<script type="text/javascript" src="/js/clientXHRSignaling.js"></script>
<script type="text/javascript" src="/js/p2p.js"></script>
<script>
    //    $(function () {
    //        var aa = $(".video_chat").innerHeight();
    //        $(".video_chat").css('width', aa * 0.75);
    //    })
</script>

</body>
</html>